<font rwr="1" style="font-family:Arial" size="4">
<meta name="cl-template-id" content="8588281">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://crazylister.com/listing-assets/styles-1.07.css?uniqueHash=1658ba64a6b4104a2a53012797736558&amp;mobileOptimized=true&amp;ste=true">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans|Abel|Archivo Narrow|Muli">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://templates-css.crazylister.com/8588281/Ua5jDlptSE0fyc3tVDVWCECPhJ3VY441.css">
<div>
	<div id="desktop-renderer">
		<div id="desktop-wrapper">
			<div style="position:absolute;top:0;left:0;box-sizing:border-box;-webkit-box-sizing:border-box;height:100%;width:100%;background-color:rgba(79, 79, 79, 1);background-image:none, none;border:;box-shadow:;z-index:-1100" data-element-type="editor.elements.BackgroundElement">
			</div>
			<div id="desktop-view">
				<div style="position:absolute;top:0;left:0;box-sizing:border-box;-webkit-box-sizing:border-box;height:100%;width:100%;background-color:rgb(255, 255, 255);background-image:none, none;font-family:Arial;z-index:-1000;border-width:0;border-style:none;border-color:#cdcccb;box-shadow:rgba(0, 0, 0, 0.247059) 0px 0px 8px;border-radius:10px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px" data-element-type="editor.elements.PageElement">
				</div>
				<div style="width:100%;min-height:91px;position:relative;display:flex;align-items:flex-start">
					<div id="elm_11" data-element-type="editor.elements.ImageElement">
						<img src="https://resized-images.crazylister.com/68747470733a2f2f696d672e6372617a796c69737465722e636f6d2f372f696d616765732f74656d706c617465732f3132303531342f69636f6e2d737461722e706e67/auto/25.png" width="100%" height="100%" alt="" title="" style="border:0px">
					</div>
					<div id="elm_10" data-element-type="editor.elements.ImageElement">
						<img src="https://resized-images.crazylister.com/68747470733a2f2f696d672e6372617a796c69737465722e636f6d2f372f696d616765732f74656d706c617465732f3132303531342f69636f6e2d737461722e706e67/auto/25.png" width="100%" height="100%" alt="" title="" style="border:0px">
					</div>
					<div id="elm_8" data-element-type="editor.elements.TitleElement">
						<div style="font-family:Muli;color:rgb(83, 83, 83);font-size:20px;font-weight:normal;text-decoration:none;font-style:normal;text-align:left;direction:ltr;padding:0px;letter-spacing:normal">
							Free Shipping
						</div>
					</div>
					<div id="elm_9" data-element-type="editor.elements.TitleElement">
						<div style="font-family:Muli;color:rgb(83, 83, 83);font-size:20px;font-weight:normal;text-decoration:none;font-style:normal;text-align:left;direction:ltr;padding:0px;letter-spacing:normal">
							Free Fast Shipping
						</div>
					</div>
				</div>
				<div style="width:100%;min-height:99px;position:relative;display:flex;align-items:flex-start">
					<div id="elm_5" data-element-type="editor.elements.TitleElement">
						<div style="font-family:Archivo Narrow;color:rgb(83, 83, 83);font-size:64px;font-weight:bold;text-decoration:none;font-style:normal;text-align:center;direction:ltr;padding:0px;letter-spacing:0px">
							2econdary Shop
						</div>
						<div style="font-family:Archivo Narrow;color:rgb(83, 83, 83);font-size:64px;font-weight:bold;text-decoration:none;font-style:normal;text-align:center;direction:ltr;padding:0px;letter-spacing:0px">
							<span style="color: rgb(0, 0, 0); font-family: Abel; font-size: 39px; font-weight: 400; letter-spacing: 0px;"><br>
							</span>
						</div>
						<div style="font-family:Archivo Narrow;color:rgb(83, 83, 83);font-size:64px;font-weight:bold;text-decoration:none;font-style:normal;text-align:center;direction:ltr;padding:0px;letter-spacing:0px">
							<span style="color: rgb(0, 0, 0); font-family: Abel; font-size: 39px; font-weight: 400; letter-spacing: 0px;"><br>
							</span>
						</div>
						<div style="font-family:Archivo Narrow;color:rgb(83, 83, 83);font-size:64px;font-weight:bold;text-decoration:none;font-style:normal;text-align:center;direction:ltr;padding:0px;letter-spacing:0px">
							<span style="color: rgb(0, 0, 0); font-family: Abel; font-size: 39px; font-weight: 400; letter-spacing: 0px;">Galaxy Folder 2</span>
						</div>
						<div style="font-family:Archivo Narrow;color:rgb(83, 83, 83);font-size:64px;font-weight:bold;text-decoration:none;font-style:normal;text-align:center;direction:ltr;padding:0px;letter-spacing:0px">
							<span style="color: rgb(0, 0, 0); font-family: Abel; font-size: 39px; font-weight: 400; letter-spacing: 0px;">SM-G160 Red 16GB</span>
						</div>
					</div>
				</div>
				<div style="width:100%;min-height:409px;position:relative;display:flex;align-items:flex-start">
					<div id="element0qge5_31" data-element-type="editor.elements.TabsElement">
						<div class="cl-htabs-el-wrapper" style="height:100%">
							<div style="width:100%;height:100%;display:flex;flex-direction:column">
								<input type="radio" id="cl-htabs-el-tabs1-u_element0qge5_31" name="cl-htabs-el-tabs-u_element0qge5_31" value="1" checked=""><input type="radio" id="cl-htabs-el-tabs2-u_element0qge5_31" name="cl-htabs-el-tabs-u_element0qge5_31" value="2"><input type="radio" id="cl-htabs-el-tabs3-u_element0qge5_31" name="cl-htabs-el-tabs-u_element0qge5_31" value="3"><input type="radio" id="cl-htabs-el-tabs4-u_element0qge5_31" name="cl-htabs-el-tabs-u_element0qge5_31" value="4"><input type="radio" id="cl-htabs-el-tabs5-u_element0qge5_31" name="cl-htabs-el-tabs-u_element0qge5_31" value="5">
								<div style="width:100%;flex-shrink:0">
									<span>
									<div class="cl-htabs-el-label cl-htabs-el-label1-u_element0qge5_31" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;z-index:0;margin-left:0">
										Description
									</div>
									<div class="cl-htabs-el-label cl-htabs-el-label2-u_element0qge5_31" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;z-index:0;margin-left:-1px">
										Spec
									</div>
									<div class="cl-htabs-el-label cl-htabs-el-label3-u_element0qge5_31" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;z-index:0;margin-left:-1px">
										Payment
									</div>
									<div class="cl-htabs-el-label cl-htabs-el-label4-u_element0qge5_31" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;z-index:0;margin-left:-1px">
										Shipping
									</div>
									<div class="cl-htabs-el-label cl-htabs-el-label5-u_element0qge5_31" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;z-index:0;margin-left:-1px">
										Return
									</div>
									</span>
								</div>
								<div style="position:absolute;top:0;left:0;z-index:1;width:100%">
									<span><label for="cl-htabs-el-tabs1-u_element0qge5_31" data-interactive="true" data-active-element-id="element0qge5_31_child_0" class="cl-htabs-el-label cl-htabs-el-label1-u_element0qge5_31 cl-htabs-el-thin-bottom" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;margin-left:0">Description
									<div class="label-content-connector" style="display:none">
									</div>
									</label><label for="cl-htabs-el-tabs2-u_element0qge5_31" data-interactive="true" data-active-element-id="element0qge5_31_child_1" class="cl-htabs-el-label cl-htabs-el-label2-u_element0qge5_31 cl-htabs-el-thin-bottom" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;margin-left:-1px">Spec
									<div class="label-content-connector" style="display:none">
									</div>
									</label><label for="cl-htabs-el-tabs3-u_element0qge5_31" data-interactive="true" data-active-element-id="element0qge5_31_child_2" class="cl-htabs-el-label cl-htabs-el-label3-u_element0qge5_31 cl-htabs-el-thin-bottom" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;margin-left:-1px">Payment
									<div class="label-content-connector" style="display:none">
									</div>
									</label><label for="cl-htabs-el-tabs4-u_element0qge5_31" data-interactive="true" data-active-element-id="element0qge5_31_child_3" class="cl-htabs-el-label cl-htabs-el-label4-u_element0qge5_31 cl-htabs-el-thin-bottom" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;margin-left:-1px">Shipping
									<div class="label-content-connector" style="display:none">
									</div>
									</label><label for="cl-htabs-el-tabs5-u_element0qge5_31" data-interactive="true" data-active-element-id="element0qge5_31_child_4" class="cl-htabs-el-label cl-htabs-el-label5-u_element0qge5_31 cl-htabs-el-thin-bottom" style="border-width:1px;border-style:solid;border-color:#D3D3CD;font-size:16px;font-family:Open Sans;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;padding-left:8px;padding-right:8px;padding-bottom:8px;margin-left:-1px">Return
									<div class="label-content-connector" style="display:none">
									</div>
									</label></span>
								</div>
								<div style="border-width:1px;border-style:solid;border-color:#D3D3CD;border-top-left-radius:0;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:white;height:calc(100% - 70px);margin-top:-1px" class="cl-htabs-el-content-container">
									<div class="cl-htabs-el-content cl-htabs-el-content1-u_element0qge5_31 phantomjs-relative">
										<div id="element0qge5_31_child_0" class="cl-htabs-el-child-element" data-element-type="editor.elements.RichTextElement">
											<div class="cl-rich-text-el">
												<p>
													<br>
												</p>
												<p>
													<b>Description</b>
												</p>
												<p>
													- Condition : A Grade
												</p>
												<p>
													<br>
												</p>
												<p>
													<b>What&nbsp;included in Box</b>
												</p>
												<p>
													<br>
												</p>
												<p>
													- Only device without any accessory
												</p>
											</div>
										</div>
									</div>
									<div class="cl-htabs-el-content cl-htabs-el-content2-u_element0qge5_31 ">
										<div id="element0qge5_31_child_1" class="cl-htabs-el-child-element" data-element-type="editor.elements.RichTextElement">
											<div class="cl-rich-text-el">
												<p>
													<br>
												</p>
												<p>
													<b>SPEC</b>
												</p>
												<p>
													<b><br>
													</b>
												</p>
												<p>
													- CPU Quad-Core 1.4 GHz
												</p>
												<p>
													<br>
												</p>
												<p>
													- 122 x 60.2 x 16.1(mm) / 164g
												</p>
												<p>
													<br>
												</p>
												<p>
													- Display Size : 3.8 inch (480 x 800)<br>
												</p>
												<p>
													<br>
												</p>
												<p>
													- Storage : 2MB Ram / 32GB Storage (support MicroSD max 256GB)<br>
												</p>
												<p>
													<br>
												</p>
												<p>
													- Battery : 1,950 mAh<br>
												</p>
												<p>
													<br>
												</p>
												<p>
													- Camere : Rear 800 / Front 5,00
												</p>
												<p>
													<br>
												</p>
												<p>
													<br>
												</p>
											</div>
										</div>
									</div>
									<div class="cl-htabs-el-content cl-htabs-el-content3-u_element0qge5_31 ">
										<div id="element0qge5_31_child_2" class="cl-htabs-el-child-element" data-element-type="editor.elements.RichTextElement">
											<div class="cl-rich-text-el">
												<p style="text-align:justify">
													<span style="font-size:16px"><span style="color:#696969"><span style="font-family:muli">We accept payment by any of the following methods:</span></span></span>
												</p>
												<p style="text-align:justify">
													<br>
												</p>
												<p style="text-align:justify">
													<span style="font-size:16px"><span style="color:#696969"><span style="font-family:muli"><em><strong>PayPal</strong></em></span></span></span>
												</p>
												<p style="text-align:justify">
													<br>
												</p>
												<p style="text-align:justify">
													<span style="font-size:16px">- We accept pay method Paypal only</span>
												</p>
											</div>
										</div>
									</div>
									<div class="cl-htabs-el-content cl-htabs-el-content4-u_element0qge5_31 ">
										<div id="element0qge5_31_child_3" class="cl-htabs-el-child-element" data-element-type="editor.elements.RichTextElement">
											<div class="cl-rich-text-el">
												<p style="text-align:justify">
													<span style="color:#696969"><span style="font-family:muli"><span style="font-size:16px">We offer <em><strong>FREE shipping</strong></em> on all orders!</span></span></span>
												</p>
												<p style="text-align:justify">
													<br>
												</p>
												<p style="text-align:justify">
													<span style="color:#696969"><span style="font-family:muli"><span style="font-size:16px">- Your order will be dispatched within 1 business&nbsp;day of receiving payment (Monday-Friday) and you should expect to receive it one or two days after dispatch</span></span></span>
												</p>
												<p style="text-align:justify">
													<br>
												</p>
												<p style="text-align:justify">
													<span style="font-size:16px">- We ship all item via Fedex by free</span>
												</p>
											</div>
										</div>
									</div>
									<div class="cl-htabs-el-content cl-htabs-el-content5-u_element0qge5_31 ">
										<div id="element0qge5_31_child_4" class="cl-htabs-el-child-element" data-element-type="editor.elements.RichTextElement">
											<div class="cl-rich-text-el">
												<p style="text-align:justify">
													<span style="color:#696969"><span style="font-family:muli"><span style="font-size:16px">If you are not 100% satisfied with your purchase, you can return the product and get a full refund or exchange the product for another one, be it similar or not.</span></span></span>
												</p>
												<p style="text-align:justify">
													<br>
												</p>
												<p style="text-align:justify">
													<span style="color:#696969"><span style="font-family:muli"><span style="font-size:16px">You can return a product for up to 14 days from the date you purchased it.</span></span></span>
												</p>
												<p style="text-align:justify">
													<br>
												</p>
												<p style="text-align:justify">
													<span style="color:#696969"><span style="font-family:muli"><span style="font-size:16px">Any product you return must be in the same condition you received it and in the original packaging. Please keep the receipt.</span></span></span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	

